    
<script type="text/javascript" src="/Content/angular.min.js"></script>


<div id="_viewtagsmbti" ng-app="ProjectHApp" class="chat-panel panel panel-default" ng-controller="TagEngineController as controller">
    <a class="list-group-item" ng-repeat="tag in controller.tags">
        {{tag.Ten}} - {{tag.ID}} - {{tag.Loai}}
    </a>
</div>

<script type="text/javascript" src="/Content/js/TabEngineClient.js"></script>

