@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="alert alert-danger">
            Hãy thử tìm kiếm thông tin khác ở thanh tìm kiếm phía trên.
        </div>
        <p></p>
        <img src="~/Content/loi.jpg" style="width: 200px;" />
    </div>
</div>



