<div id="_divEI">
    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    Đây là 2 xu hướng đối lập thể hiện xu hướng ứng xử với thế giới bên ngoài.
                    <ul>
                        <li>Hướng ngoại – hướng về thế giới bên ngoài gồm các hoạt động, con người, đồ vật.</li>
                        <li> Hướng nội - hướng vào nội tâm, bao gồm ý nghĩ, tư tưởng, trí tưởng tượng</li>
                    </ul>
                    Đây là 2 mặt đối lập nhưng bổ sung lẫn nhau. Tuy nhiên, một mặt sẽ chiếm ưu thế trong việc phát triển tính cách và ảnh hưởng đển cách ứng xử.
                </div>
            </div>

            <div class="panel-default">

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box box-solid bg-yellow">
            <div class="box-header">
                <h3 class="box-title">E – EXTRAVERSION– (HƯỚNG NGOẠI)</h3>
            </div>
            <div class="box-body">
                <strong>Nếu các phát biểu sau đây đúng, thì sẽ áp dụng với bạn:</strong>
                <ul>
                    <li>
                        Hành động trước hết, suy nghĩ và cân nhắc sau
                    </li>
                    <li>
                        Cảm thấy khổ sở nếu bị cách ly với thế giới bên ngoài
                    </li>
                    <li>
                        Hứng thú với con người và sự việc xung quanh
                    </li>
                    <li>
                        Quảng giao, thích tiếp xúc với nhiều người
                    </li>
                    <li>Dễ bắt chuyện</li>
                </ul>
            </div>
            <button class="btn btn-info btn-lg btn-block" onclick="fstep1('E')">Hướng ngoại - E</button>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box box-solid bg-yellow">
            <div class="box-header">
                <h3 class="box-title">I – INTROVERSION – (HƯỚNG NỘI)</h3>
            </div>
            <div class="box-body">
                <strong>Nếu các phát biểu sau đây đúng, thì sẽ áp dụng với bạn:</strong>
                <ul>
                    <li>
                        Suy nghĩ và cân nhắc kỹ lưỡng trước khi hành động

                    </li>
                    <li>
                        Cần có một khoảng thời gian riêng tư đáng kể để nạp năng lượng

                    </li>
                    <li>
                        Hứng thú với đời sống nội tâm, đôi khi tự cô lập với thế giới bên ngoài

                    </li>
                    <li>
                        Thích nói chuyện riêng tư 2 người.

                    </li>
                    <li>
                        Hiếm khi chủ động xin ý kiến của người khác

                    </li>
                </ul>
            </div>
            <button class="btn btn-info btn-lg btn-block" onclick="fstep1('I')">Hướng nội - I</button>
        </div>
    </div>


</div>

