<div class="col-lg-12" id="_divintro">
    <div class="well">
        <h4>Giới thiệu</h4>
        <p>
            Bài kiểm tra phân loại tính cách MBTI (Myers-Briggs Type Indicator) được phát triển gần 60 năm trước đây bởi Katharine Cook Briggs và con gái của bà – Isabel Briggs Myers.
            .MBTI ban đầu được tạo dựng để mọi người có thể đưa ra những quyết định lựa chọn nghề nghiệp thông minh và giúp đỡ mọi người hiểu được sự khác biệt của các dạng tính cách thông thường.
            Việc hiểu được sự đa dạng của các dạng tính cách cá nhân khác nhau sẽ giúp mọi người nhận ra và đánh giá đúng các điểm mạnh, điểm yếu của từng người, nhờ đó trả lời được câu hỏi tại sao tất cả mọi người không ai giống ai.
        </p>
        <a href="http://www.myersbriggs.org/my-mbti-personality-type/mbti-basics/">Website gốc các bạn có thể tìm hiểu thêm</a>

        <p>
            Để tìm ra tính cách phù hợp với mình, thông thường sẽ có một bài kiểm tra khoảng 80 câu với MBTI. Có cả tiếng anh và tiếng việt. Để cho đơn giản, các bạn có thể xem đoạn video sau để hiểu qua MBTI là gì, và có một đoạn test ngắn để các bạn làm.
            Sau đó, bạn hãy hãy sử dụng nút "Bắt đầu" để kiểm chứng lại những tính cách, và chọn ký tự phù hợp của mình. Sau khi chọn được 4 ký tự, bạn hãy chọn nút "Kết quả" để nhận được tính cách phù hợp.
            Với mỗi tính cách, nhóm đã nêu ra một số ngành học liên quan (các ngành này tương tự mà nhóm chọn dựa vào kết quả của tính cách).
        </p>

        <div class="alert alert-warning">
            <strong>Chú ý</strong>
            <p>
                Kết quả MBTI mà các bạn có được chỉ giúp các bạn hiểu bản thân. Nó không hoàn toàn chính xác. Kết quả MBTI phụ thuộc vào tâm trạng, độ tuổi của mỗi người. Với một thời gian dài, có thể tính cách có thể thay đổi.
                Các bạn có thể làm một số bài kiểm tra khác trên mạng để có kết quả chính xác hơn.
            </p>
            <a class="btn btn-success" href="http://www.humanmetrics.com/cgi-win/jtypes2.asp">MBTI English Test</a>
            <a class="btn btn-success" href="http://mbti.toppion.com/">Kiểm tra MBTI Tiếng Việt </a>
        </div>

        <button class="btn btn-default btn-lg btn-block" onclick="call_EI()">Bắt đầu</button>

    </div>

    <div class="well">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/bf-XjyucrB4" frameborder="0" allowfullscreen></iframe>
    </div>
</div>