<div id="_divintro">
        <h4>Giới thiệu</h4>
        <p>
            Bài kiểm tra phân loại tính cách MBTI (Myers-Briggs Type Indicator) được phát triển gần 60 năm trước đây bởi Katharine Cook Briggs và con gái của bà – Isabel Briggs Myers.
            .MBTI ban đầu được tạo dựng để mọi người có thể đưa ra những quyết định lựa chọn nghề nghiệp thông minh và giúp đỡ mọi người hiểu được sự khác biệt của các dạng tính cách thông thường.
            Việc hiểu được sự đa dạng của các dạng tính cách cá nhân khác nhau sẽ giúp mọi người nhận ra và đánh giá đúng các điểm mạnh, điểm yếu của từng người, nhờ đó trả lời được câu hỏi tại sao tất cả mọi người không ai giống ai.
        </p>
        <a href="http://www.myersbriggs.org/my-mbti-personality-type/mbti-basics/">Website gốc các bạn có thể tìm hiểu thêm</a>
        <button class="btn btn-lg btn-block btn-info" onclick="call_kiemtra()">Bắt đầu</button>

</div>