<div id="_divJP">
    <div id="_divSN">
        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        Đây là cách thức mà mỗi người lựa chọn để tác động tới thế giới bên ngoài.
                        <ul>
                            <li><strong>Nguyên tắc:</strong> tiếp cận thế giới một cách có kế hoạch, có tổ chức, có chuẩn bị, quyết định và đạt đến một kết cục rõ ràng.</li>
                            <li><strong>Linh hoạt:</strong>tiếp cận thế giới một cách tự nhiên, tìm cách thích nghi với hoàn cảnh, thích một kết cục bỏ ngỏ, chấp nhận những cơ hội mới, và chấp nhận thay đổi kế hoạch.</li>
                        </ul>
                    </div>
                </div>

                <div class="panel-default">

                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box box-solid bg-yellow">
                <div class="box-header">
                    <h3 class="box-title">J - JUDGING (NGUYÊN TẮC)</h3>
                </div>
                <div class="box-body">
                    <strong>Nếu các phát biểu sau đây đúng, thì sẽ áp dụng với bạn:</strong>

                    <ul>
                        <li>
                            Có kế hoạch chu đáo trước khi hành động
                        </li>
                        <li>
                            Tập trung vào các hoạt động có tính nhiệm vụ, hoàn tất các công đoạn quan trọng trước khi tiếp tục
                        </li>
                        <li>
                            Làm việc tốt nhất và không bị stress khi hoàn thành công việc trước thời hạn
                        </li>
                        <li>
                            Làm việc tốt nhất và không bị stress khi hoàn thành công việc trước thời hạn
                        </li>
                        <li>
                            Tự đặt ra mục tiêu, thời hạn, và các chuẩn mực để quản lý cuộc sống
                        </li>

                    </ul>
                    </div>
                    <button class="btn btn-info btn-lg btn-block" onclick="fstep4('J')"> Nguyên tắc (Judgment) - J</button>
                </div>
        </div>

        <div class="col-lg-6">
            <div class="box box-solid bg-yellow">
                <div class="box-header">
                    <h3 class="box-title">P - PERCEIVING (LINH HOẠT)</h3>
                </div>
                <div class="box-body">
                    <strong>Nếu các phát biểu sau đây đúng, thì sẽ áp dụng với bạn:</strong>

                    <ul>
                        <li>
                            Có thể hành động mà không cần lập kế hoạch; lập kế hoach tùy theo tình hình
                        </li>
                        <li>
                            Thích làm nhiều việc cùng lúc, thích sự đa dạng, có thể vừa làm vừa chơi
                        </li>
                        <li>
                            Chịu sức ép tốt, làm việc hiệu quả nhất khi công việc gần hết hạn
                        </li>
                        <li>
                            Tìm cách tránh né cam kết nếu nó ảnh hưởng đến sự linh động, sự tự do và da đạng của bản thân
                        </li>
                    </ul>
                    </div>
                    <button class="btn btn-info btn-lg btn-block" onclick="fstep4('P')">Linh hoạt (Perception) - P</button>
                </div>
        </div>
    </div>
</div>