<div id="_divintro">
    <p>
        Để tìm ra tính cách phù hợp với mình, thông thường sẽ có một bài kiểm tra khoảng 80 câu với MBTI. Có cả tiếng anh và tiếng việt. Để cho đơn giản, các bạn có thể xem đoạn video sau để hiểu qua MBTI là gì, và có một đoạn test ngắn để các bạn làm.
        Sau đó, bạn hãy hãy sử dụng nút "<b>Chọn ký tự</b>" để kiểm chứng lại những tính cách, và chọn ký tự phù hợp của mình. Sau khi chọn được 4 ký tự, bạn hãy chọn nút "<b>Kết quả</b>" để nhận được tính cách phù hợp.
        Với mỗi tính cách, nhóm đã nêu ra một số ngành học liên quan (các ngành này tương tự mà nhóm chọn dựa vào kết quả của tính cách).
    </p>

    <div class="alert alert-warning">
        <strong>Chú ý</strong>
        <p>
            Kết quả MBTI mà các bạn có được chỉ giúp các bạn hiểu bản thân. Nó không hoàn toàn chính xác. Kết quả MBTI phụ thuộc vào tâm trạng, độ tuổi của mỗi người. Với một thời gian dài, có thể tính cách có thể thay đổi.
            Các bạn có thể làm một số bài kiểm tra khác trên mạng để có kết quả chính xác hơn.
        </p>
        <a class="btn btn-success" href="http://www.humanmetrics.com/cgi-win/jtypes2.asp">MBTI English Test</a>
        <a class="btn btn-success" href="http://mbti.toppion.com/">Kiểm tra MBTI Tiếng Việt </a>
    </div>
</div>
<iframe width="853" height="480" src="https://www.youtube.com/embed/bf-XjyucrB4" frameborder="0" allowfullscreen></iframe>

<button class="btn btn-lg btn-block btn-info" onclick="call_EI()">Chọn ký tự</button>

