<div id="_divTF">
    <div id="_divSN">
        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            Đây là 2 xu hướng đối lập về cách chúng ta đưa ra quyết định và lựa chọn của mình.
                        </p>
                        <ul>
                            <li>
                                <strong>Phần lý trí</strong> trong não bộ con người phân tích thông tin một cách khách quan, làm việc dựa trên đúng/sai, suy luận và đưa ra kết luận một cách có hệ thống. Nó là bản chất logic của con người.
                            </li>

                            <li>
                                <strong>Phần cảm giác</strong> của não bộ đưa ra quyết định dựa trên xem xét tổng thể; yêu/ghét; tác động qua lại lẫn nhau; và các giá trị nhân đạo hay thẩm mỹ. Đó là bản chất chủ quan của con người.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel-default">

                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box box-solid bg-yellow">
                <div class="box-header">
                    <h3 class="box-title">T - THINKING (LÝ TRÍ)</h3>
                </div>

                <div class="box-body">
                    <strong>Nếu các phát biểu sau đây đúng, thì sẽ áp dụng với bạn:</strong>

                    <ul>
                        <li>
                            Luôn tìm kiếm sự kiện và tính logic để đưa ra kết luận
                        </li>
                        <li>
                            Có xu hướng để tâm đến các nhiệm vụ, công việc cần phải hoàn thành
                        </li>
                        <li>
                            Dễ dàng đưa ra những phân tích thấu đáo và khách quan
                        </li>
                        <li>
                            Chấp nhận xung đột là một phần tự nhiên trong mối quan hệ giữa người với người.
                        </li>
                    </ul>
                </div>
                <button class="btn btn-info btn-lg btn-block" onclick="fstep3('T')"> Lý trí (Thinking) - T</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box box-solid bg-yellow">
                <div class="box-header">
                    <h3 class="box-title">F - Feeling (Cảm giác)</h3>
                </div>
                <div class="box-body">
                    <strong>Nếu các phát biểu sau đây đúng, thì sẽ áp dụng với bạn:</strong>

                    <ul>
                        <li>
                            Xem xét cảm xúc cá nhân và ảnh hưởng của một quyết định lên người khác trước khi đưa ra quyết định đó.
                        </li>
                        <li>
                            Nhạy cảm với những nhu cầu và phản ứng của người khác.
                        </li>
                        <li>
                            Tìm kiếm sự nhất trí và ý kiến của số đông.
                        </li>
                        <li>
                            Khó xử khi có xung đột; hoặc có phản ứng tiêu cực khi xảy ra bất hòa.
                        </li>
                    </ul>
                </div>
                <button class="btn btn-info btn-lg btn-block" onclick="fstep3('F')">Tình cảm (Feeling) - F</button>
            </div>
        </div>
    </div>



</div>


