USE [ProjectH]
GO
/****** Object:  Table [dbo].[MBTI]    Script Date: 2/4/2015 11:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MBTI](
	[idMBTI] [nchar](10) NOT NULL,
	[Tags] [ntext] NULL,
	[GioiThieu] [ntext] NULL,
 CONSTRAINT [PK_MBTIs] PRIMARY KEY CLUSTERED 
(
	[idMBTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
